<%- include("partials/head") %>

    <body>
        <%- include("partials/header") %>
            <!--Header reutilizable-->

            <%- include("partials/navbar") %>
            <!-- Codigo reutilizable NAV_BAR.EJS-->
            <main id="cart">
                <%- include("partials/cart") %>
                <div class="cart_contain">
                    <p><a href="/">Seguir Comprando</a></p>
                    <div class="cart_contain_title prod"><i class="fa-solid fa-rectangle-list"></i>
                        <h3>Resumen</h3>
                    </div>
                    <div class="cart_contain_resume">
                        <div class="cart_contain_prod_img"><img src="/img/article-1.jpeg" alt=""></div>
                        <div class="cart_contain_prod">
                            <h6>Producto</h6>
                            <p>Procesador Intel i7 13900</p>
                        </div>
                        <div class="cart_contain_count">
                            <h6>Cantidad</h6><input type="number">
                        </div>
                        <div class="cart_contain_total">
                            <h6>Total</h6>
                            <p>$55555</p>
                        </div>
                        <div class="cart_contain_cancel"><button class="none"><i
                                    class="fa-solid fa-square-xmark"></i></button></div>
                    </div>
                    <div class="cart_contain_option_ship">
                        <div class="cart_contain_prod_img"><i class="fa-solid fa-truck-fast"></i></div>
                        <div class="cart_contain_prod">
                            <h6>Producto</h6>
                            <p>Envio a domicilio</p>
                        </div>
                        <div class="cart_contain_count">
                            <h6>Cantidad</h6>
                            <p>1</p>
                        </div>
                        <div class="cart_contain_total">
                            <h6>Total</h6>
                            <p>$600</p>
                        </div>
                        <div class="cart_contain_cancel"><button class="none"><i
                                    class="fa-solid fa-square-xmark"></i></button></div>
                    </div>
                    <p>Total $:56155</p>
                    <div class="adress_confirm">
                        <h2>Direccion de envio</h2>
                        <form action="#" id="adress">
                            <div class="adress_top">
                                <label for="calle">Calle:</label>
                                <input type="text" name="calle" placeholder="Av. Falsa">
                                <label for="altura">Altura</label>
                                <input type="number" name="altura" placeholder="3555">
                            </div>
                            <div class="adress_bot">
                                <label for="cod-pos">Codigo Postal</label>
                                <input type="text" name="cod-pos" placeholder="Ej:1407" id="cod">
                                <label for="piso">Piso,Depto:</label>
                                <input type="text" name="piso" placeholder="Ej: Piso 2-B">
                                <label for="horario">Franja Horaria</label>
                                <input type="text" name="horario" placeholder="Ej: De 9 a 12hs">
                            </div>
                        </form>

                    </div>
                    <div class="ant-next">
                        <button id="ant"><a href="/cart/pay">Anterior</a></button>
                        <button id="next"><a href="/">Finalizar</a></button>
                    </div>
                </div>
            </main>

            <%- include("partials/footer") %>
        </body>
        </html>