<%- include("partials/head") %>-

<%- include("partials/header") %>

<%- include("partials/navbar") %>
<body>
<main>
    <form action="/product/create" enctype="multipart/form-data" method="POST" id="formCreate">
            <h3 id="titleFormCreate">Crear Nuevo Producto</h3>
        <div class="container-edicion-producto">
        
        <div class="errores">
        <ul></ul>
        </div>

            <label for="name" class="labelCreateForm"><b>Nombre del Producto</b></label>
            <input class="name" type="text" placeholder="Nombre del producto" name="name" value="<%= locals.old && old.name? (old.name) : null%>"/>
            <% if (locals.errors && errors.name){%>
            <div class="error">
                <%= errors.name.msg %>
            </div> <% } %>
            <div class="divNombre">
                <ul></ul>
            </div>

            
            <label for="descripcion" class="labelCreateForm"><b>Descripción</b></label>
            <textarea class="descripcion" name="descripcion" placeholder="Descripción" id="descripcion" cols="30" rows="10"></textarea>
            <% if (locals.errors && errors.descripcion){%>
                <div class="error">
                    <%= errors.descripcion.msg %>
                </div> <% } %>
                <div class="divDescripcion">
                    <ul></ul>
                </div>
            

            <input class="imagen-producto" type="file" name='imagen-producto' accept=".jpg, .jpeg, .png .gif" multiple="multiple" id="images" hidden>
            <label for="imagen-producto" class="labelCreateForm" id="labelBtn">Subir Fotos (Min. 3)</label>
            <div id="preview"></div>
            <div class="divImagenProducto">
                <ul></ul>
            </div>
            

            <label for="categoria" class="labelCreateForm"><b>Seleccione la categoria</b></label>
            <select class="categoria" name="categoria" id="categoria">
                <option value="">Seleccione uno</option>
                <% categories.forEach(category => { %>
                    <option value="<%= category.name %>"><%= category.name %></option>
                <%}); %>
            </select>
            <% if (locals.errors && errors.categoria){%>
                <div class="error">
                    <%= errors.categoria.msg %>
                </div> <% } %>
                <div class="divCategoria">
                    <ul></ul>
                </div>
            

            <label for="marca" class="labelCreateForm"><b>Seleccione la marca</b></label>
            <select class="marca" name="marca" id="marca">
                <option value="">Seleccione uno</option>
                <% trademarks.forEach(mark => { %>
                    <option value="<%= mark.name %>"><%= mark.name %></option>
                <%}); %>
            </select>
            <% if (locals.errors && errors.marca){%>
                <div class="error">
                    <%= errors.marca.msg %>
                </div> <% } %>
                <div class="divMarca">
                    <ul></ul>
                </div>

            <label for="status" class="labelCreateForm"><b>Seleccione la condicion del producto</b></label>
                <!--cambiar de status a condition-->
            <select class="status" name="status" id="status">
                <option value="">Seleccione uno</option>
                <option value="Destacados">Destacados</option>
                <option value="Ofertas">Ofertas</option>
                <option value="Ninguno">Ninguno</option>
            </select>
            <% if (locals.errors && errors.status){%>
                <div class="error">
                    <%= errors.status.msg %>
                </div> <% } %>
                <div class="divStatus">
                    <ul></ul>
                </div>
            <label for="family" class="labelCreateForm"><b>Seleccione la familia</b></label>
            <select class="families" name="families" id="families">
                <option value="">Seleccione Uno</option>
                <option value="Intel">Intel</option>
                <option value="AMD">AMD</option>
                <option value="Ambos">Ambos</option>
            </select>
            <% if (locals.errors && errors.family){%>
                <div class="error">
                    <%= errors.family.msg %>
                </div> <% } %>
                <div class="divFamilies">
                    <ul></ul>
                </div>

            <label for="warranty" class="labelCreateForm"><b>Indique tiempo de Garantia: ej: x Meses</b></label>
            <input class="warranty" type="text" placeholder="ej: 6 meses" name="warranty">
            <% if (locals.errors && errors.warranty){%>
                <div class="error">
                    <%= errors.warranty.msg %>
                </div> <% } %>
                <div class="divWarranty">
                    <ul></ul>
                </div>

            <label for="model" class="labelCreateForm"><b>Indique el modelo</b></label>
            <input class="model" type="text" placeholder="Modelo" name="model">
            <% if (locals.errors && errors.model){%>
                <div class="error">
                    <%= errors.model.msg %>
                </div> <% } %>
                <div class="divModel">
                    <ul></ul>
                </div>

            <label for="price" class="labelCreateForm"><b>Indique el precio $</b></label>
            <input class="price" type="number" placeholder="Precio" name="price">
            <% if (locals.errors && errors.price){%>
                <div class="error">
                    <%= errors.price.msg %>
                </div> <% } %>
                <div class="divPrice">
                    <ul></ul>
                </div>
            <div class="botones">
                <div class="button-confirmar edit">
                    <button type="submit">Confirmar</button>
                </div>
            </div>
        </div>
    </form>
</main>


<%- include("partials/footer") %>
</body>
<script src="/js/product-create.js"></script>

<script src="/js/index.js"></script>
<script src="/js/createFormPreviewImage.js"></script>
</html>