<%- include("partials/head") %>-

<%- include("partials/header") %>

<%- include("partials/navbar") %>
<body>
<main>
    <form action="/product/create" enctype="multipart/form-data" method="POST" id="formCreate">
        <h3 id="titleFormCreate">Crear Nuevo Producto</h3>
        <div class="opcionesContain">
           <input type="radio" name="crearElemento" id="crearElemento1" class="opcionCheck" value="PC"> <label for="crearElemento1" class="opcionesCreate" >Crear PC</label>
            <input type="radio" name="crearElemento" id="crearElemento2" class="opcionCheck" value="Producto"><label for="crearElemento2" class="opcionesCreate" >Crear Producto</label>
        </div>
        <div class="container-edicion-producto">
            <label for="name" class="labelCreateForm"><b>Nombre</b></label>
            <input class="inputForm" type="text" placeholder="Nombre del producto" name="name" value="<%= locals.oldData? oldData.name : null%>">
            <div class="error"></div>
            <% if (locals.errors && errors.name){%>
            <div class="error">
                <%= errors.name.msg %>
            </div> <% } %>
            <label for="descripcion" class="labelCreateForm"><b>Descripción</b></label>
            <textarea name="descripcion" placeholder="Descripción" id="descripcion" cols="30" rows="10"><%= locals.oldData? oldData.descripcion : ""%></textarea>
            <% if (locals.errors && errors.descripcion){%>
                <div class="error">
                    <%= errors.descripcion.msg %>
                </div> <% } %>
            <input type="file" name='imagenProducto' accept=".jpg, .jpeg, .png .gif" multiple="multiple" id="images" hidden>
            <label for="imagen-producto" class="labelCreateForm" id="labelBtn">Subir Fotos (Min. 3)</label>
            <div id="preview"></div>
            <label for="categoria" class="labelCreateForm"><b>Seleccione la categoria</b></label>
            <select name="categoria" id="categoria">
                <option value="">Seleccione uno</option>
                <% categories.forEach(category => { %>
                    <option value="<%= category.name %>" <%= locals.oldData&& locals.oldData.categoria ? oldData.categoria==category.name && "selected" : null%>><%= category.name %></option>
                <%}); %>
            </select>
            <% if (locals.errors && errors.categoria){%>
                <div class="error">
                    <%= errors.categoria.msg %>
                </div> <% } %>
            <label for="marca" class="labelCreateForm no-pc"><b>Seleccione la marca</b></label>
            <select name="marca" id="marca">
                <option value="">Seleccione uno</option>
                <% trademarks.forEach(mark => { %>
                    <option value="<%= mark.name %>" <%= locals.oldData&& locals.oldData.marca ? oldData.marca==mark.name && "selected" : null%>><%= mark.name %></option>
                <%}); %>                             
            </select>
            <% if (locals.errors && errors.marca){%>
                <div class="error">
                    <%= errors.marca.msg %>
                </div> <% } %>
            <label for="status" class="labelCreateForm"><b>Seleccione la condicion del producto</b></label>
                <!--cambiar de status a condition-->
            <select name="status" id="status">
                <option value="">Seleccione uno</option>
                <option value="Destacados" <%= locals.oldData&& locals.oldData.status ? oldData.status=="Destacados" && "selected" : null%>>Destacados</option>
                <option value="Ofertas" <%= locals.oldData&& locals.oldData.status ? oldData.status=="Ofertas" && "selected" : null%>>Ofertas</option>
                <option value="Ninguno" <%= locals.oldData&& locals.oldData.status ? oldData.status=="Ninguno" && "selected" : null%>>Ninguno</option>
            </select>
            <% if (locals.errors && errors.status){%>
                <div class="error">
                    <%= errors.status.msg %>
                </div> <% } %>
            <label for="families" class="labelCreateForm no-pc"><b>Seleccione la linea</b></label>
            <select name="families" id="families">
                <option value="">Seleccione Uno</option>
                <option value="Intel" <%= locals.oldData&& locals.oldData.families ? oldData.families=="Intel" && "selected" : null%>>Intel</option>
                <option value="AMD" <%= locals.oldData&& locals.oldData.families ? oldData.families=="AMD" && "selected" : null%>>AMD</option>
                <option value="Ambos" <%= locals.oldData&& locals.oldData.families ? oldData.families=="Ambos" && "selected" : null%>>Ambos</option>
            </select>
            <% if (locals.errors && errors.families){%>
                <div class="error">
                    <%= errors.families.msg %>
                </div> <% } %>
            <label for="warranty" class="labelCreateForm"><b>Indique tiempo de Garantia: ej: x Meses</b></label>
            <input type="text" placeholder="ej: 6 meses" name="warranty" value="<%= locals.oldData? oldData.warranty : null%>">
            <% if (locals.errors && errors.warranty){%>
                <div class="error">
                    <%= errors.warranty.msg %>
                </div> <% } %>
            <label for="model" class="labelCreateForm no-pc"><b>Indique el modelo</b></label>
            <input type="text" placeholder="Modelo" name="model" value="<%= locals.oldData? oldData.model : null%>">
            <% if (locals.errors && errors.model){%>
                <div class="error">
                    <%= errors.model.msg %>
                </div> <% } %>
            <label for="price" class="labelCreateForm"><b>Indique el precio $</b></label>
            <input type="number" placeholder="Precio" name="price" value="<%= locals.oldData? oldData.price : null%>">
            <% if (locals.errors && errors.price){%>
                <div class="error">
                    <%= errors.price.msg %>
                </div> <% } %>
            <div class="botones">
                    <button type="submit" id="confirmCreate">Confirmar</button>
            </div>
        </div>
    </form>
</main>


<%- include("partials/footer") %>
</body>
<script src="/js/index.js"></script>
<script src="/js/product-create.js"></script>
<script src="/js/createPCform.js"></script>
<script src="/js/createFormPreviewImage.js"></script>
</html>