<%- include("partials/head") %>-

<%- include("partials/header") %>

<%- include("partials/navbar") %>
<body>
<main>
    <form action="/product/create" enctype="multipart/form-data" method="POST" id="formCreate">
        <h3 id="titleFormCreate">Crear Nuevo Producto</h3>
        <div class="container-edicion-producto">
            <label for="name" class="labelCreateForm">Nombre</label>
            <input type="text" placeholder="Nombre del producto" name="name">
            <label for="descripcion" class="labelCreateForm">Descripción</label>
            <textarea name="descripcion" placeholder="Descripción" id="descripcion" cols="30" rows="10"></textarea>
            <input type="file" name='imagen-producto' accept=".jpg, .jpeg, .png" multiple="multiple" id="images">
                <label for="imagen-producto" class="labelCreateForm" id="labelBtn">Subir Fotos (Min. 3)</label>
                <div class="images_container">
                <ul id="preview"></ul>
            </div>   
            <label for="categoria" class="labelCreateForm">Seleccione la categoria</label>
            <select name="categoria" id="categoria">
                <option value="">Seleccione uno</option>
                <% categories.forEach(category => { %>
                    <option value="<%= category.name %>"><%= category.name %></option>
                <%}); %>
            </select>
            <label for="marca" class="labelCreateForm">Seleccione la marca</label>
            <select name="marca" id="marca">
                <option value="">Seleccione uno</option>
                <% trademarks.forEach(mark => { %>
                    <option value="<%= mark.name %>"><%= mark.name %></option>
                <%}); %>
            </select>
            <label for="status" class="labelCreateForm">Seleccione la condicion del producto</label>
                <!--cambiar de status a condition-->
            <select name="status" id="status">
                <option value="">Seleccione uno</option>
                <option value="Destacados">Destacados</option>
                <option value="Ofertas">Ofertas</option>
                <option value="Ninguno">Ninguno</option>
            </select>
            <label for="family" class="labelCreateForm">Seleccione la familia</label>
            <select name="family" id="families">
                <option value="">Seleccione Uno</option>
                <option value="Intel">Intel</option>
                <option value="AMD">AMD</option>
                <option value="Ambos">Ambos</option>
            </select>
            <label for="warranty" class="labelCreateForm">Indique tiempo de Garantia: ej: x Meses</label>
            <input type="text" placeholder="ej: 6 meses" name="warranty">
            <label for="model" class="labelCreateForm">Indique el modelo</label>
            <input type="text" placeholder="Modelo" name="model">
            <label for="price" class="labelCreateForm">Indique el precio $</label>
            <input type="number" placeholder="Precio" name="price">
            <div class="botones">
                <div class="button-confirmar">
                    <button type="submit">Confirmar</button>
                </div>
                <div class="button-borrar">
                    <button type="reset" id="clean">Limpiar</button>
                </div>
            </div>
        </div>
    </form>
</main>


<%- include("partials/footer") %>
</body>
<script src="/js/index.js"></script>
<script src="/js/createFormPreviewImage.js"></script>
</html>