<%- include("partials/head") %>-

    <%- include("partials/header") %>

        <%- include("partials/navbar") %>

            <body>
                <main>
                    <form action="/product/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <div class="container-edicion-producto">
                            <input type="text" name="name" id="name" value="<%= product.name %>">
                            <textarea name="descripcion" id="descripcion" cols="30"
                                rows="10"><%= product.description %></textarea>
                            <input type="file" name='imagen-producto' accept=".jpg, .jpeg, .png" multiple="multiple">
                            <select name="categoria" id="categoria">
                                <option value="">Seleccione uno</option>
                                <% categories.forEach(category => { %>
                                    <option value="<%=category.name%>" <%= category.id==product.categories_id && "selected"%>><%=category.name%></option>
                               <% }); %>
                               
                            </select>
                            <select name="marca" id="marca">
                                <option value="general">Seleccione uno</option>
                                <% trademarks.forEach(trademark => { %>
                                    <option value="<%=trademark.name%>" <%= trademark.id==product.trademarks_id && "selected"%>><%=trademark.name%></option>
                               <% }); %>
                            </select>
                            <input type="text" name="model" id="model" value="<%= product.model %>">
                            <select name="status" id="status">
                                <option value="">Seleccione uno</option>
                               <!--Falta condicion del producto-->
                            </select>
                            <select name="families" id="families">
                                <option value="">Seleccione Uno</option>
                                <% families.forEach(family => { %>
                                    <option value="<%=family.name%>" <%= family.id==product.families_id && "selected"%>><%=family.name%></option>
                                <%}); %>
                            </select>
                            <input type="text" placeholder="Garantia" name="warranty" value="<%=warranty.name ? warranty.name : "" %>">
                            <input type="number" name="price" id="price" value="<%= product.price %>">
                            <div class="botones">
                                <div class="button-confirmar edit">
                                    <button type="submit">Confirmar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="button-borrar edit">
                        <form action="/product/<%= product.id %>?_method=DELETE" method="POST">
                            <button type="submit">Borrar producto</button>
                        </form>
                    </div>
                </main>


                <%- include("partials/footer") %>
            </body>
            <script src="js/index.js"></script>
            </html>