<%- include("partials/head") %>-

    <%- include("partials/header") %>

        <%- include("partials/navbar") %>

            <body>
                <main>
                    <form action="/product/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <div class="container-edicion-producto">
                            <input type="text" name="name" id="name" value="<%= product.name %>">
                            <textarea name="descripcion" id="descripcion" cols="30"
                                rows="10"><%= product.description %></textarea>
                            <input type="file" name='imagen-producto' accept=".jpg, .jpeg, .png" multiple="multiple">
                            <select name="categoria" id="categoria">
                                <option value="">Seleccione uno</option>
                                <option value="Motherboard" <%=product.category=="Motherboard" && 'selected' %>
                                    >Motherboards</option>
                                <option value="Procesadores" <%=product.category=="Procesadores" && 'selected' %>
                                    >Procesadores</option>
                                <option value="Memorias" <%=product.category=="Memorias" && 'selected' %>>Memorias
                                </option>
                                <option value="Fuentes" <%=product.category=="Fuentes" && 'selected' %>>Fuentes</option>
                                <option value="Gabinetes" <%=product.category=="Gabinetes" && 'selected' %>>Gabinetes
                                </option>
                                <option value="Almacenamiento" <%=product.category=="Almacenamiento" && 'selected' %>
                                    >Almacenamiento</option>
                                <option value="Placa de video" <%=product.category=="Placa de video" && 'selected' %>
                                    >Placa de video</option>
                                <option value="Periferico">
                                    <%= product.category=="Periferico" && 'selected' %>Periferico
                                </option>
                            </select>
                            <select name="marca" id="marca">
                                <option value="general">Seleccione uno</option>
                                <option value="amd" <%=product.trademark=="AMD" && 'selected' %>>AMD</option>
                                <option value="intel" <%=product.trademark=="intel" && 'selected' %>>INTEL</option>
                                <option value="sentey" <%=product.trademark=="sentey" && 'selected' %>>Sentey</option>
                                <option value="gigabyte" <%=product.trademark=="gigabyte" && 'selected' %>>Gigabyte</option>
                                <option value="asus" <%=product.trademark=="asus" && 'selected' %>>Asus</option>
                                <option value="msi" <%=product.trademark=="msi" && 'selected' %>>MSI</option>
                                <option value="corsair" <%=product.trademark=="corsair" && 'selected' %>>Corsair</option>
                                <option value="hyperx" <%=product.trademark=="hyperx" && 'selected' %>>HyperX</option>
                            </select>
                            <input type="text" name="model" id="model" value="<%= product.model %>">
                            <select name="status" id="status">
                                <option value="">Seleccione uno</option>
                                <option value="destacado" <%=product.status=="destacado" && 'selected' ? 'selected' : "" %>>Destacados</option>
                                <option value="ofertas" <%=product.status=="ofertas" && 'selected' ? 'selected' : "" %>>Ofertas</option>
                            </select>
                            <select name="families" id="families">
                                <option value="">Seleccione Uno</option>
                                <option value="intel" <%=product.status=="intel" && 'selected' ? 'selected' : "" %>>Intel</option>
                                <option value="amd" <%=product.status=="amd" && 'selected' ? 'selected' : "" %>>AMD</option>
                            </select>
                            <input type="text" placeholder="Garantia" name="warranty" value="<%=product.warranty ? product.warranty : "" %>">
                            <input type="number" name="price" id="price" value="<%= product.price %>">
                            <div class="botones">
                                <div class="button-confirmar edit">
                                    <button type="submit">Confirmar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="button-borrar edit">
                        <form action="/product/<%= product.id %>?_method=DELETE" method="POST">
                            <button type="submit">Borrar producto</button>
                        </form>
                    </div>
                </main>


                <%- include("partials/footer") %>
            </body>
            <script src="/js/index.js"></script>
            </html>