<%- include("partials/head") %>-

    <%- include("partials/header") %>

        <%- include("partials/navbar") %>

            <body>
                <main>
                    <form id="form" action="/product/edit/<%= product.id %>?_method=PUT" method="POST"
                        enctype="multipart/form-data">
                        <h3 id="titleFormCreate">Editar Producto</h3>
                        <div class="container-edicion-producto">
                            <!--Grupo Nombre-->

                            <label for="name" class=" form__label-create"><b>Nombre del Producto</b></label>
                            <div>
                                <input 
                                type="text" 
                                class="form form__group-error <%= locals.errors && errors.name ? "group__input-error" : null %> form__group-input" 
                                    name="name" 
                                    id="name" value="<%= product.name %>">
                             
                                    <% if (locals.errors && errors.name){%>
                                    <div class="error">
                                        <%= errors.name.msg%> 
                                    </div>
                                   <% } %> 
                            </div>
                                    
                                    <i class="form__validation-state fas fa-times-circle" id="name-icon"></i>

                                    <p class="form__input-error" id="p-error-name">El nombre deberá tener al menos 5
                                        caracteres</p>

                            <!--Grupo Descripción-->
                            <label for="descripcion" class="form__label-create"><b>Descripción</b></label>
                            <div <%= locals.errors && errors.descripcion? "error" : null %>>
                                <textarea class="form__group-error form__group-input" name="descripcion" id="descripcion" cols="30" rows="10"><%= product.description %>>
                                </textarea>
                                    <% if(locals.errors && errors.descripcion) {%>
                                        <div class="error">
                                            <%= errors.descripcion.msg %>
                                        </div> <% } %>

                                <i class="form__validation-state fas fa-times-circle" id="descripcion-icon"></i>
                                <p class="form__input-error" id="p-error-descripcion">La descripción deberá tener al
                                    menos 20 caracteres</p>
                            </div>

                            <!--Grupo Imagen del Producto-->
                            <label for="imagen-producto" class="form__label-create"><b>Imagen del Producto</b></label>
                            <div>
                                <input 
                                type="file" 
                                name= "imagen-producto" 
                                id="imagen-producto" 
                                multiple="multiple" 
                                accept=".jpg, .jpeg, .png, .gif"
                                class="form__group-error form__group-input ">
                                   
                                <i class="form__validation-state fas fa-times-circle"></i>
                                <p class="form__input-error">Deberá ser un archivo válido (JPG,JPEG,PNG,GIF)</p>
                            </div>
                            <!--Grupo Categoría-->
                            <label class="form__label-create"><b>Categoría</b></label>
                            <select
                            name="categoria" id="categoria"
                            class="form__group-input">
                            <option value="">Seleccione una categoría</option> 
                            <% categories.forEach(categoria=>{ %>
                                <option value="<%= categoria.name %>" <%=product.category.name==categoria.name && 'selected' %>><%= categoria.name %></option>
                           <% }) %>
                                <!--  -->
                            </select>
                            <% if (locals.errors && errors.categoria) {%>
                                <div class="error">
                                    <%= errors.categoria.msg%>
                                </div> <% } %>   

                            <label class="form__label-create"><b>Marca</b></label>

                            <select class="form__group-input" name="marca" id="marca">
                                <option value="general">Seleccione uno</option>
                                <% trademarks.forEach(mark => { %>
                                    <option value="<%= mark.name %>" <%=product.trademark.name==mark.name && 'selected' %>><%= mark.name %></option>
                                <%}); %>
                                
                            </select>
                            <% if (locals.errors && errors.marca) {%>
                                <div class="error">
                                    <%= errors.marca.msg%>
                                </div> <% } %>   
                            <label class="form__label-create"><b>Modelo</b></label>

                            <input class="form__group-input" type="text" name="model" id="model"
                                value="<%= product.model %>">
                                <% if (locals.errors && errors.model) {%>
                                    <div class="error">
                                        <%= errors.model.msg%>
                                    </div> <% } %>   
                            <label class="form__label-create"><b>Status</b></label>

                            <select class="form__group-input" name="status" id="status">
                                <option value="">Seleccione uno</option>
                               <% status.forEach(state=>{ %>
                                <option value=<%= state.name %> <%=product.status.name==state.name && 'selected'? 'selected' : ""%>><%= state.name %></option>
                             <%  }) %>
                            </select>
                            <% if (locals.errors && errors.status) {%>
                                <div class="error">
                                    <%= errors.status.msg%>
                                </div> <% } %>   
                            <label class="form__label-create"><b>Familia</b></label>

                            <select class="form__group-input" name="families" id="families">
                                <option value="">Seleccione Uno</option>
                                <option value="Intel" <%=product.families.name=="Intel" && 'selected' ? 'selected' : "" %>
                                    >Intel</option>
                                <option value="AMD" <%=product.families.name=="AMD" && 'selected' ? 'selected' : "" %>>AMD
                                </option>
                                <option value="Ambos" <%=product.families.name=="Ambos" && 'selected' ? 'selected' : "" %>>Ambos</option>
                            </select>
                            <% if (locals.errors && errors.families) {%>
                                <div class="error">
                                    <%= errors.families.msg%>
                                </div> <% } %>   
                            <label class="form__label-create"><b>Garantía</b></label>

                            <input class="form__group-input" type="text" placeholder="Garantia" name="warranty"
                                value="<%=product.warranties.name %>">
                                <% if (locals.errors && errors.warranty) {%>
                                    <div class="error">
                                        <%= errors.warranty.msg%>
                                    </div> <% } %>   
                            <label class="form__label-create"><b>Precio</b></label>

                            <input class="form__group-input" type="number" name="price" id="price"
                                value="<%= product.price %>">
                                <% if (locals.errors && errors.price) {%>
                                    <div class="error">
                                        <%= errors.price.msg%>
                                    </div> <% } %>
                            <div class="form__mensaje" id="form__mensaje">
                                <p class="form__btn-error"><i class="fas fa-exclamation-triangle"></i><b>Error:</b>
                                    Por favor completar el formulario correctamente</p>
                            </div>

                            <!--Botones-->
                            <div class="botones">

                                <!--Boton confirmar edit-->

                                <div class="button-confirmar edit">
                                    <button type="submit" class="form__group-input">Confirmar</button>
                                </div>
                                <p class="form__mensaje-exito" id="form__mensaje-exito">Formulario enviado exitosamente!
                                </p>
                           </div>
                           </div>
                            </form>
                            <div class="botones">
                                <!--Boton borrar edit-->

                                <div class="button-borrar edit">
                                    <form class="form__group-input" action="/product/<%= product.id %>?_method=DELETE"
                                        method="POST">
                                        <button class="form__group-input" type="submit">Borrar producto</button>
                                    </form>
                                </div>
                            </div>
                </main>

                <!-- <script src="/js/product-edit.js"></script>  -->
                <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
                <%- include("partials/footer") %>
            </body>
            <script src="/js/index.js"></script>

            </html>