<%- include("partials/head") %>-

    <%- include("partials/header") %>

        <%- include("partials/navbar") %>

            <body>
                <main>
                    <form action="/product/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <div class="container-edicion-producto">
                            <input type="text" name="name" id="name" value="<%= product.name %>">
                            <textarea name="descripcion" id="descripcion" cols="30"
                                rows="10"><%= product.description %></textarea>
                            <input type="file" name='imagen-producto' accept=".jpg, .jpeg, .png" multiple="multiple">
                            <select name="categoria" id="categoria">
                                <option value="general">Seleccione uno</option>
                                <option value="Motherboards" <%=product.category=="Motherboard" && 'selected' %>
                                    >Motherboards</option>
                                <option value="Procesadores" <%=product.category=="Procesadores" && 'selected' %>
                                    >Procesadores</option>
                                <option value="Memorias" <%=product.category=="Memorias" && 'selected' %>>Memorias
                                </option>
                                <option value="Fuentes" <%=product.category=="Fuentes" && 'selected' %>>Fuentes</option>
                                <option value="Gabinetes" <%=product.category=="Gabinetes" && 'selected' %>>Gabinetes
                                </option>
                                <option value="Almacenamiento" <%=product.category=="Almacenamiento" && 'selected' %>
                                    >Almacenamiento</option>
                                <option value="Placa de video" <%=product.category=="Placa de video" && 'selected' %>
                                    >Placa de video</option>
                                <option value="Periferico">
                                    <%= product.category=="Periferico" && 'selected' %>Periferico
                                </option>
                            </select>
                            <select name="marca" id="marca">
                                <option value="general">Seleccione uno</option>
                                <option value="amd" <%=product.trademark=="AMD" && 'selected' %>>AMD</option>
                                <option value="Republic of gamers" <%=product.trademark=="Republic of gamers"
                                    && 'selected' %>>REPUBLIC OF GAMERS</option>
                            </select>
                            <input type="text" name="model" id="model" value="<%= product.model %>">
                            <input type="number" name="price" id="price" value="<%= product.price %>">
                            <div class="botones">
                                <div class="button-confirmar">
                                    <button type="submit">Confirmar</button>
                                </div>
                                <div class="button-borrar">
                                    <button type="reset">Limpiar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </main>


                <%- include("partials/footer") %>