<%- include("partials/head") %>
    <!--Head reutilizable HEAD.EJS-->


    <body>
        <%- include("partials/header") %>
            <!--Header reutlizable HEADER.EJS-->

            <%- include("partials/navbar") %>
            <!-- Codigo reutilizable NAV_BAR.EJS-->

            <div class="carrusel">
                <ul>
                    <li><a href="#"><img src="/img/Carrusel-1.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/img/carrusel-2.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/img/carrusel-3.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/img/carrusel-4.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/img/carrusel-5.jpg" alt=""></a></li>
                </ul>
            </div>
            <main>
                <h2 class="subtitulos">Formas de Pago</h2>
                <section class="formas-pago">
                    <div><i class="fa-sharp fa-solid fa-building-columns"></i><b>Trasnferencia o Deposito</b></div>
                    <div><i class="fa-solid fa-credit-card"></i><b>Tarjeta de Debito</b></div>
                    <div><i class="fa-regular fa-credit-card"></i><b>Cuotas sin interes</b></div>
                </section>
                <!--Contenido Destacados-->
                <h2 class="subtitulos">Destacados!</h2>
                <section class="destacados">
                    <div class="contenedor-dest">
                        <% featuredProd.forEach(product => { %>
                            <article>
                                    <a href="/product/detail/<%= product.id %>">
                                    <img src="/img/<%= product.image[0] %>" alt="">
                                    <div class="info-prod">
                                        <h4><%= product.name %></h4>
                                        <p class="precio">$ <%= product.price %></p>
                                        <button><a href="/product/detail/<%= product.id %>">Ver mas</a></button>
                                    </div>
                                </a>
                                </article>
                        <% }); %>
                    </div>
                </section>
                <!--Contenido marcas-->
                <h2 class="subtitulos">Nuestras Marcas</h2>
                <section class="marcas">
                    <div class="lineas">
                        <img src="/img/marca-1.jpg" alt="Asus">
                    </div>
                    <div class="lineas marca-hidden">
                        <img src="/img/marca-2.png" alt="Asus">
                    </div>
                    <div class="lineas marca-hidden">
                        <img src="/img/marca-1.jpg" alt="Asus">
                    </div>
                    <div class="lineas v-Desktop">
                        <img src="/img/marca-1.jpg" alt="Asus">
                    </div>
                    <div class="lineas v-Desktop">
                        <img src="/img/marca-1.jpg" alt="Asus">
                    </div>
                </section>
                <!--Contenido ofertas-->
                <h2 class="subtitulos">Ofertas</h2>
                <section class="ofertas">
                    <div class="contenedor-ofer">
                        <% offerProd.forEach(product => { %>
                            <article>
                                    <a href="/product/detail/<%= product.id %>">
                                    <img src="/img/<%= product.image[0] %>" alt="">
                                    <div class="info-prod">
                                        <h4><%= product.name %></h4>
                                        <p class="precio">$ <%= product.price %></p>
                                        <button><a href="/product/detail/<%= product.id %>">Ver mas</a></button>
                                    </div>
                                </a>
                                </article>
                        <% }); %>
                    </div>
                </section>

            </main>
            <!--footer inicio!-->

            <%- include("partials/footer") %>
        </body>
        </html>