<%- include("partials/head") %>
    <!--Head reutilizable HEAD.EJS-->


    <body>
        <%- include("partials/header") %>
            <!--Header reutlizable HEADER.EJS-->

            <%- include("partials/navbar") %>
            <!-- Codigo reutilizable NAV_BAR.EJS-->

            <div class="carrusel">
                <ul>
                    <li><a href="#"><img src="/img/Carrusel-1.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/img/carrusel-2.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/img/carrusel-3.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/img/carrusel-4.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/img/carrusel-5.jpg" alt=""></a></li>
                </ul>
            </div>
            <main>
                <h2 class="subtitulos">Formas de Pago</h2>
                <section class="formas-pago">
                    <div><i class="fa-sharp fa-solid fa-building-columns"></i><b>Transferencia o Deposito</b></div>
                    <div><i class="fa-solid fa-credit-card"></i><b>Tarjeta de Debito</b></div>
                    <div><i class="fa-regular fa-credit-card"></i><b>Cuotas sin interes</b></div>
                </section>
                <!--Contenido Destacados-->
                <h2 class="subtitulos">Destacados!</h2>
                <section class="destacados">
                    <div class="contenedor-dest">
                                                <!--Arreglar articulos css-->
                        <% for (let i = 0; i < featuredProd.length; i++) { %>
                            <article>
                                <a href="/product/detail/<%= featuredProd[i].id %>">
                            <% for (let j = 0; j < images.length; j++) { %>
                                <% if (featuredProd[i].id== images[j].products_id) { %>
                                    <img src="/img/products/<%= images[j].url %>" alt="">
                            <% } %>
                                <% } %>
                            <div class="info-prod">
                                <h4><%= featuredProd[i].name %></h4>
                                <p class="precio">$ <%= featuredProd[i].price %></p>
                                <button class="ver-mas"><a href="/product/detail/<%= featuredProd[i].id %>">Ver mas</a></button>
                                <button><a href="/product/cart">Comprar</a></button>
                            </a>
                            </div>
                        </article>
                  <%  } %>
                    </div>
                </section>
                <!--Contenido marcas-->
                <h2 class="subtitulos">Nuestras Marcas</h2>
                <section class="marcas">
                    <ul class="list__mark">
                        <% trademark.forEach(mark=>{ %>
                            <li><a href="#"><img src="/img/<%= mark %>" alt=""></a></li>
                      <%  }) %>
                    </ul>
                </section>
                <!--Contenido ofertas-->
                <h2 class="subtitulos">PCs Armadas</h2>
                <section class="pc__container">
                    <div class="pc_image1"><a href="#"><img src="/img/pc1.png" alt=""></a></div>
                    <div class="pc_image2"><a href="#"><img src="/img/pc2.jpg" alt=""></a></div>
                    <div class="pc_image3"><a href="#"><img src="/img/pc3.jpg" alt=""></a></div>
                </section>
                <h2 class="subtitulos">Ofertas</h2>
                <section class="ofertas">
                    <div class="contenedor-ofer">
                        <!--Arreglar articulos css-->
                        <% for (let i = 0; i < offerProd.length; i++) { %>
                            <article class="producto">
                            <% for (let j = 0; j < images.length; j++) { %>
                                <% if (offerProd[i].id== images[j].products_id) { %>
                                    <img src="/img/products/<%= images[j].url %>" alt="">
                            <% } %>
                                <% } %>
                            <div class="info-prod">
                                <h4><%= offerProd[i].name %></h4>
                                <p class="precio">$ <%= offerProd[i].price %></p>
                                <button class="ver-mas"><a href="/product/detail/<%= offerProd[i].id %>">Ver mas</a></button>
                                <button><a href="/product/cart">Comprar</a></button>
                            </a>
                            </div>
                        </article>
                  <%  } %>
                    </div>
                </section>

            </main>
            <!--footer inicio!-->

            <%- include("partials/footer") %>
        </body>
        <script src="/js/index.js"></script>
        </html>