<%- include("partials/head") %>

    <body>
        <%- include("partials/header") %>
            <!--Header reutilizable-->

            <%- include("partials/navbar") %>
                <!-- Codigo reutilizable NAV_BAR.EJS-->
                <main id="ventana-login">
                    <div id="ventana">
                        <h3>Iniciar Sesión</h3>
                        <form class="login" action="/login" method="POST">
                            <% if (locals && locals.errors?.email) { %>
                                <label for="email" id="errorId" class="error"><%= errors.email.msg %></label>
                            <% } %>
                            
                            <!-- EMAIL -->
                            <div class="error" id="valdiationEmail">
                                <ul></ul>
                            </div>
                            <input class="email inputForm" type="email" name='email' id="email" placeholder="Email">

                            
                            <!-- PASSWORD -->
                            <div class="error" id="valdiationPassword">
                                <ul></ul>
                            </div>
                            <input class="password inputForm" type="password" name='password' id="password" placeholder="Contraseña">
    
                            <button type="submit" id="loginBtn">Ingresar</button>
                        </form>
                        <p><a href="#">Me olvide la contraseña</a></p>
                        <div class="ingreso-con-red face"><i class="fa-brands fa-facebook-f"></i>Ingresar con Facebook</div>
                        <div class="ingreso-con-red google"><i class="fa-brands fa-google"></i>Ingresar con Google</div>
                        <div class="go-to-regis"><b>¿Aun no tienes cuenta?</b><a href="/register">Registrate</a></div>
                    </div>
                    <script src="/js/login.js"></script>
                </main>

                <%- include("partials/footer") %>
            </body>
            <script src="/js/index.js"></script>
            </html>