<%- include("partials/head") %>

    <body>
        <%- include("partials/header") %>
            <!--Header reutilizable-->

            <%- include("partials/navbar") %>
            <!-- Codigo reutilizable NAV_BAR.EJS-->
    
            <div class="camino"><a href="/">HOME</a><b><i class="fa-solid fa-chevron-right"></i></b>
                <a href="/product/list/<%=idProd.category %>"><%=idProd.category%></a><i class="fa-solid fa-chevron-right"></i><a href="/product/detail/<%= idProd.id %>"><%=idProd.shortName%></a></div>
            <main id="product_detail">
                <section class="detalle_prod">
                    <h4 id="title"><%=idProd.name%></h4>
                    <div id="vista-tablet">
                        <div id="img-principal"><img src="/img/<%=idProd.image[0]%>" alt=""></div>

                        <div id="more-img"><img src="/img/<%=idProd.image[1]%>" alt=""><img src="/img/<%=idProd.image[2]%>" alt=""><img
                                src="/img/<%=idProd.image[3]%>" alt="none"></div>
                        <p id="filtro-marca"><a href="#"><%=idProd.trademark%></a></p>
                        <div id="info-pago">
                            <h4 id="precio-efectivo">$<%=idProd.price%></h4>
                            <p id="precio-cuotas">Precio en cuotas: $<%=(idProd.price + idProd.price/10)%><i class="fa-regular fa-credit-card"></i></p>
                            <div id="counter"><input type="number" name="cantidad" id="count"><button><i
                                        class="fa-regular fa-square-plus"></i></button><button><i
                                        class="fa-regular fa-square-minus"></i></button></div>
                            <p id="garantia"><i class="fa-solid fa-shield-halved"></i>Garantia: <%=idProd.warranty%></p>
                            <div class="boton-compra">
                                <button id="compra"><a href="/product-cart">Comprar Ahora</a></button>
                                <button class="carrito">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <p id="filtro-marca-v2"><a href="#"><%=idProd.trademark%></a></p>
                    <div id="info-contenido">
                        <h4>Descripción</h4>
                        <p id="descrip"><%=idProd.description%></p>
                        <h4>Especificaciones Tecnicas</h4>
                        <div id="specs">
                            <div id="info-cat">
                                <p>Marca:</p>
                                <p>Modelo:</p>
                                <p>Familia:</p>
                                <p>Garantia:</p>
                            </div>
                            <div>
                                <p><%=idProd.trademark%></p>
                                <p><%=idProd.model%></p>
                                <p><%=idProd.family%></p>
                                <p><%=idProd.warranty%></p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="interes">
                    <h4>Tambien te puede interesar</h4>
                    <div class="section__container">
                        <div class="contenedor-interes">
                            <% otherProd.forEach(product => { %>
                                <article>
                                        <a href="/product/detail/<%= product.id %>">
                                        <img src="/img/<%= product.image[0] %>" alt="">
                                        <div class="info-prod">
                                            <h4><%= product.shortName %></h4>
                                            <p class="precio">$ <%= product.price %></p>
                                            <button><a href="/product/detail/<%= product.id %>">Ver mas</a></button>
                                        </div>
                                    </a>
                                    </article>
                            <% }); %>
                        </div>
                    </div>
                </section>
            </main>
            <%- include("partials/footer") %>