<%- include("partials/head") %>

    <body>
        <%- include("partials/header") %>
            <!--Header reutilizable-->

            <%- include("partials/navbar") %>
            <!-- Codigo reutilizable NAV_BAR.EJS-->
    
            <div class="camino"><a href="/">HOME</a><i class="fa-solid fa-chevron-right"></i><a href="/product/list/<%=product.category.name%>"><%= product.category.name %></a>
                <i class="fa-solid fa-chevron-right"></i><a href="/product/detail/<%= product.id %>"><%=product.name%></a></div>
            <main id="product_detail">
                <section class="detalle_prod">
                    <h4 id="title"><%=product.name%></h4>
                    <div id="vista-tablet">
                        <% imagenes.forEach(image => { %>
                          <%  if (image.is_primary==true) { %>
                                <div id="img-principal"><img src="/img/products/<%=image.url%>" alt=""></div>
                          <%  } %>
                          <%  }); %>
                            <div id="more-img">
                                <% product.images.forEach(img => { %>
                                   <% if (img.is_primary==false) { %>
                                        <div class="images"><img src="/img/products/<%=img.url%>" alt=""></div>
                              <%  }}); %>
                        </div>
                        <p id="filtro-marca"><a href="#"><%=product.trademark.name%></a></p>
                        <div id="info-pago">
                            <h4 id="precio-efectivo">$<%=product.price%></h4>
                            <p id="precio-cuotas">Precio en cuotas: $<%=product.price%><i class="fa-regular fa-credit-card"></i></p>
                            <div id="counter"><input type="number" name="cantidad" id="count"><button><i
                                        class="fa-regular fa-square-plus"></i></button><button><i
                                        class="fa-regular fa-square-minus"></i></button></div>
                            <p id="garantia"><i class="fa-solid fa-shield-halved"></i>Garantia: <%=product.warranties.name%></p>
                            <div class="boton-compra">
                                <button  class="btnComprar"  id="compra" data-id="<%= product.id %>"><a href="/product/cart">Comprar Ahora</a></button>
                                <button class="carrito btnComprar" data-id="<%= product.id %>">Agregar al carrito</button>
                                <!-- Condicionar para que solo lo vea el admin-->
                                <div id="editBtn"><a href="/product/edit/<%= product.id %>">Editar Producto</a></div>
                                <!--Fin del contenedor-->
                            </div>
                        </div>
                    </div>
                    <p id="filtro-marca-v2"><a href="#"><%=product.trademark.name%></a></p>
                    <div id="info-contenido">
                        <h4>Descripción</h4>
                        <p id="descrip"><%=product.description%></p>
                        <table border CELLPADDING=10 CELLSPACING=0>
                            <th colspan="2" id="tableHeader">Especificaciones Tecnicas</th>
                        <tr align="center">
                            <th>Marca</th>
                            <td><%=product.trademark.name%></td>
                        </tr>
                        <tr align="center">
                            <th>Modelo</th>
                            <td><%=product.model%></td>
                        </tr>
                        <tr align="center">
                            <th>Familia</th>
                            <td><%=product.families.name%></td>
                        </tr>
                        <tr align="center">
                            <th>Garantia</th>
                            <td><%=product.warranties.name%></td>
                        </tr>
                    </table>
                    </div>
                </section>
                <section class="interes">
                    <h4>Tambien te puede interesar</h4>
                    <div class="section__container">
                        <div class="contenedor-interes">
                           <% for (let i = 0; i < similarProducts.length; i++) { %>
                            <article class="producto">
                                <div class="addCarrito" data-id="<%= similarProducts[i].id %>"><i class="fa-solid fa-cart-shopping"></i></div>
                            <% for (let j = 0; j < images.length; j++) { %>
                                <% if (similarProducts[i].id== images[j].products_id) { %>
                                    <img src="/img/products/<%= images[j].url %>" alt="">
                            <% } %>
                                <% } %>
                            <div class="info-prod">
                                <h4><%= similarProducts[i].name %></h4>
                                <p class="precio">$ <%= similarProducts[i].price %></p>
                                <button class="btnComprar ver-mas" ><a href="/product/detail/<%= similarProducts[i].id %>">Ver mas</a></button>
                            </div>
                        </article>
                  <%  } %>
                        </div>
                    </div>
                </section>
            </main>
            <%- include("partials/footer") %>
        </body>
        <script src="/js/addItems.js"></script>
        <script src="/js/index.js"></script>
        </html>