<%- include("partials/head") %>

    <body>
        <%- include("partials/header") %>
            <!--Header reutilizable-->

            <%- include("partials/navbar") %>
            <!-- Codigo reutilizable NAV_BAR.EJS-->
            <main id="list">
                <div class="list__category">
                    <div class="list__category_filtros">
                        <p>Filtros</p>
                        <% trademarks.forEach(mark =>{ %>
                            <label for="<%= mark.name %>" class="FilterBymark"><input type="checkbox" name="filtro" id="<%= mark.name %>" ><%= mark.name %></label>
                      <%  }) %>
                    </div>
                    <div class="list__category_filtros_bot">
                        <p>Familia</p>
                        <input type="checkbox" name="filtro" id="INTEL"><label for="INTEL" class="FilterBymark">INTEL</label>
                        <input type="checkbox" name="filtro" id="AMD"><label for="AMD" class="FilterBymark">AMD</label>
                        <input type="checkbox" name="filtro" id="AMBOS"><label for="AMBOS" class="FilterBymark">AMBOS</label>
                    </div>
                    <!-- Condicionar para que solo lo vea el admin-->
                    <div class="btn_create"><a href="/product/create">Crear Nuevo</a></div>
                    <!--Fin del contenedor-->
                </div>
                <% if (productos.length===0) { %>
                    <div class="list__container_product" style="justify-content: center;">
                        <h6 class="notProducts">No se hallaron resultados que mostrar</h6>
                <% }else{ %>
                <div class="list__container_product">
                <% for (let i = 0; i < productos.length; i++) { %>
                    <article class="producto">
                    <% for (let j = 0; j < images.length; j++) { %>
                        <% if (productos[i].id== images[j].products_id) { %>
                            <img src="/img/products/<%= images[j].url %>" alt="">
                    <% } %>
                        <% } %>
                    <div class="info-prod">
                        <h4><%= productos[i].name %></h4>
                        <p class="precio">$ <%= productos[i].price %></p>
                        <button class="ver-mas"><a href="/product/detail/<%= productos[i].id %>">Ver mas</a></button>
                        <button><a href="/product/cart">Comprar</a></button>
                    </a>
                    </div>
                </article>
          <%  } %>
                </div>
                <% }%>
            </main>


            <%- include("partials/footer") %>
    </body>
    <script src="/js/index.js"></script>
    <script src="/js/filters.js"></script>
    </html>