<%- include("partials/head") %>
     <!--Head reutilizable HEAD.EJS-->



    <body>
        <%- include("partials/header") %>
            <!--Header reutlizable HEADER.EJS-->

            <%- include("partials/navbar") %>
            <!-- Codigo reutilizable NAV_BAR.EJS-->
            <main id="cart">
                <%- include("partials/cart") %>
                <div class="cart_contain">
                    <p><a href="/">Seguir Comprando</a></p>
                    <div class="cart_contain_title prod"><i class="fa-solid fa-rectangle-list"></i>
                        <h3>Mis productos</h3>
                    </div>
                    <div class="cart_contain_descrip">
                        <div class="cart_contain_prod_img"><img src="/img/article-1.jpeg" alt=""></div>
                        <div class="cart_contain_prod">
                            <h6>Producto</h6>
                            <p>Procesador Intel i7 13900</p>
                        </div>
                        <div class="cart_contain_count">
                            <h6>Cantidad</h6><input type="number">
                        </div>
                        <div class="cart_contain_total">
                            <h6>Total</h6>
                            <p>$55555</p>
                        </div>
                        <div class="cart_contain_cancel"><button><i class="fa-solid fa-square-xmark"></i></button></div>
                    </div>
                    <p>Total $:55555</p>
                    <div class="ant-next">
                        <button id="ant"><a href="/">Anterior</a></button>
                        <button id="next"><a href="/cart/ship">Siguiente</a></button>
                    </div>
                </div>
            </main>

            <%- include("partials/footer") %>
        </body>
        </html>