<%- include("partials/head") %>

    <body>
        <%- include("partials/header") %>
            <!--Header reutilizable-->

            <%- include("partials/navbar") %>
            <!-- Codigo reutilizable NAV_BAR.EJS-->
    
            <div class="camino"><a href="/">HOME</a><i class="fa-solid fa-chevron-right"></i><a href="/product/list/<%=product.category.name%>"><%= product.category.name %></a>
                <i class="fa-solid fa-chevron-right"></i><a href="/product/detail/<%= product.id %>"><%=product.name%></a></div>
            <main id="product_detail">
                <section class="detalle_prod">
                    <h4 id="title"><%=product.name%></h4>
                    <div id="vista-tablet">
                        <div id="img-principal">
                            
                            <div id="otroContent">
                            <div id="containImages" data-width="<%= product.images.length %>">  
                                <% product.images.forEach(img=>{ %>
                                    <img src="/img/products/<%= img.url %>" class="imgProducts" data-name="<%=img.url%>">
                               <% }) %>
                            </div>
                            </div>
                        </div>
                        <div id="btnImagenes">
                            <span class="btnImages left"><i class="fa-solid fa-chevron-left"></i></span>
                        <span class="btnImages right"><i class="fa-solid fa-chevron-right"></i></span>
                        </div>
                       
                        <p id="filtro-marca"><a href="#"><%=product.trademark ? product.trademark.name : "PC"%></a></p>
                        <div id="info-pago">
                            <% if (product.stock >= 10) { %>
                                <span class="stockDetail alto">En Stock</span>
                           <% }else if(product.stock< 10 && product.stock >= 4 ){ %>
                            <span class="stockDetail medio">Poco Stock</span>
                            <% }else if(product.stock ==0){ %>
                                <span class="stockDetail nulo">Sin Stock</span>
                            <% }else{ %>
                                <span class="stockDetail bajo">Bajo Stock</span>
                                <% } %>
                            <h4 id="precio-efectivo">$<%=product.price%></h4>
                            <span id="cardPrice"><i class="fa-regular fa-credit-card"></i></span>
                            
                            <p id="garantia"><i class="fa-solid fa-shield-halved"></i>Garantia: <%=product.warranties.name%></p>
                            <div class="boton-compra">
                                <button  class="btnComprar"  id="compra" data-id="<%= product.id %>"><a href="/product/cart">Comprar Ahora</a></button>
                                <button class="carrito btnComprar" data-id="<%= product.id %>">Agregar al carrito</button>
                                <!-- Condicionar para que solo lo vea el admin-->
                                <div id="editBtn"><a href="/product/edit/<%= product.id %>">Editar Producto</a></div>
                                <!--Boton borrar edit-->
                                <div class="button-borrar edit">
                                    <a href="/product/<%= product.id %>">Borrar producto</a>
                                </div>
                                <!--Fin del contenedor-->
                            </div>
                        </div>
                    </div>
                    <p id="filtro-marca-v2"><a href="#"><%=product.trademark ? product.trademark.name : "PC gamer"%></a></p>
                    <div id="info-contenido">
                        <h4 class="titleDescripcion">Descripción</h4>
                        <p id="descrip"><%=product.description%></p>
                        <div class="Detalles">
                            <div class="DetailTable">
                                <div class="DetailProduct"><span>Marca</span></div>
                                <div class="DetailProduct"><span>Modelo</span></div>
                                <div class="DetailProduct"><span>Subcategoria</span></div>
                                <div class="DetailProduct"><span>Garantia</span></div>
                            </div>
                                <div class="contentDetail">
                                    <div class="DetailProduct"><span><%=product.trademark ? product.trademark.name : "PC gamer"%></span></div>
                                    <div class="DetailProduct"><span><%=product.model ? product.model : "PC gamer"%></span></div>
                                    <div class="DetailProduct"><span><%=product.families ? product.families.name : "PC gamer"%></span></div>
                                    <div class="DetailProduct"><span><%=product.warranties.name%></span></div>
                                </div>
                        </div>
                       
                    </div>
                </section>
                <section class="interes">
                    <h4>Tambien te puede interesar</h4>
                    <div class="section__container">
                        <div class="contenedor-interes">
                           <% for (let i = 0; i < similarProducts.length; i++) { %>
                            <article class="producto">
                                <div class="addCarrito" data-id="<%= similarProducts[i].id %>"><i class="fa-solid fa-cart-shopping"></i></div>
                                <% if (similarProducts[i].stock >= 10) { %>
                                    <span class="stockCount alto">En Stock</span>
                               <% }else if(similarProducts[i].stock< 10 && similarProducts[i].stock >= 4 ){ %>
                                <span class="stockCount medio">Poco Stock</span>
                                <% }else if(similarProducts[i].stock ==0){ %>
                                    <span class="stockCount nulo">Sin Stock</span>
                                <% }else{ %>
                                    <span class="stockCount bajo">Bajo Stock</span>
                                    <% } %>
                            <% for (let j = 0; j < images.length; j++) { %>
                                <% if (similarProducts[i].id== images[j].products_id) { %>
                                    <img src="/img/products/<%= images[j].url %>" alt="">
                            <% } %>
                                <% } %>
                            <div class="info-prod">
                                <h4><%= similarProducts[i].name %></h4>
                                <p class="precio">$ <%= similarProducts[i].price %></p>
                                <button class="btnComprar ver-mas" ><a href="/product/detail/<%= similarProducts[i].id %>">Ver mas</a></button>
                            </div>
                        </article>
                  <%  } %>
                        </div>
                    </div>
                </section>
            </main>
            <%- include("partials/footer") %>
        </body>
        <script src="/js/productDetailImg.js"></script>
        <script src="/js/addItems.js"></script>
        <script src="/js/index.js"></script>
        </html>