<%- include("partials/head") %>

    <body>
        <%- include("partials/header") %>
            <!--Header reutilizable-->

            <%- include("partials/navbar") %>
            <!-- Codigo reutilizable NAV_BAR.EJS-->
            <main id="list">
                <h2>Motherboard</h2>
                <div class="list__category">
                    <div class="list__category_filtros">
                        <p>Filtros</p>
                            <label for="filtro"><input type="checkbox" name="filtro" id="Asus">Asus</label>
                            <label for="filtro"><input type="checkbox" name="filtro" id="Gigabyte">Gigabyte</label>
                            <label for="filtro"><input type="checkbox" name="filtro" id="MSI">MSI</label>
                            <label for="filtro"><input type="checkbox" name="filtro" id="Asrock">Asrock</label>
                    </div>
                    <div class="list__category_filtros_bot">
                        <p>Familia</p>
                        <label for="filtro_family"><input type="radio" name="filtro_family" id="Intel">Intel</label>
                        <label for="filtro_family"><input type="radio" name="filtro_family" id="AMD">AMD</label>
                    </div>
                </div>
                <div class="list__container_product">
                <% productos.forEach(product => {%>
                <article class="producto">
                    <img src="<%= product.image[0] %>" alt="">
                    <div class="info-prod">
                        <h4><%= product.shortName %></h4>
                        <p class="precio">$ <%= product.price %></p>
                        <button class="ver-mas"><a href="/product/detail/<%= product.id %>">Ver mas</a></button>
                        <button><a href="/product/cart">Comprar</a></button>
                    </a>
                    </div>
                </article>
                <% });  %>
                </div>
            </main>


            <%- include("partials/footer") %>