<%- include("partials/head") %>

  <body>
    <%- include("partials/header") %>
      <!--Header reutilizable-->

      <%- include("partials/navbar") %>
        <!-- Codigo reutilizable NAV_BAR.EJS-->
        <main id="register">
          <section id="sectionRegister">
            <div class="ventana-register">
              <h5>Registrate</h5>
              <form action="/register" method="POST" enctype="multipart/form-data" id="formRegister">
                <label for="nombre" class="label-container">Nombre y Apellido:
                <input type="text" name="nombre" placeholder="Nombre Completo" class="formInput"
                value="<%= locals.old && old.nombre ? (old.nombre) : null %>" />
                <div class="message" id="error-nombre"></div>
                <% if (locals.errors && errors.nombre) { %>
                  <div class="error message">
                    <%= errors.nombre.msg %>
                  </div>
                  <% } %>
                <span class="icon"></span>
                </label>
                  <label for="email" class="label-container">Email:
                  <input type="text" name="email" placeholder="email@ejemplo.com" class="formInput"
                  value="<%= locals.old && old.email ? (old.email) : null %>" />
                  <div class="message" id="error-email"></div>
                  <% if (locals.errors && errors.email) { %>
                    <div class="error message">
                      <%= errors.email.msg %>
                    </div>
                    <% } %>
                    <span class="icon"></span>
                  </label>
                    <label for="telefono" class="label-container">Telefono:
                    <input type="number" name="telefono" placeholder="ej: 1122334455" class="formInput"
                    value="<%= locals.old && old.telefono ? (old.telefono) : null %>" />
                    <div class="message" id="error-telefono"></div>
                    <% if (locals.errors && errors.telefono) { %>
                      <div class="error message">
                        <%= errors.telefono.msg %>
                      </div>
                      <% } %>
                      <span class="icon"></span>
                    </label>              
                    <label for="documento" class="label-container">D.N.I:
                          <input type="text" name="documento" placeholder="ej: 12345678" class="formInput" maxlength="8"
                          value="<%= locals.old && old.documento ? (old.documento) : null %>" />
                            
                          <div class="message" id="error-documento"></div>
                        <% if (locals.errors && errors.documento) { %>
                          <div class="error message">
                            <%= errors.documento.msg %>
                          </div>
                          <% } %>
                          <span class="icon"></span>
                        </label>
                          <label for="nacimiento" class="label-container">Nacimiento:
                            <input type="date" name="nacimiento"/>
                          </label>
                                <div class="register-img">
                                  <label for="avatar">Imagen de Perfil:</label>
                                  <input type="file" name="avatar" hidden accept=".JPG .JPEG .PNG" 
                                  id="avatar" >
                                  <button id="addImg">Subir Foto<br><span id="opcional">(Opcional)</span></button>
                                  <div id="previewAvatar"><img src="/img/avatars/default.jpg" alt="" id="previewImg"></div>
                                </div>
                                <label for="contrasenia" class="label-container">Contraseña:
                                <input type="password" name="contrasenia"  class="formInput"/>
                                <% if (locals.errors && errors.contrasenia) { %>
                                  <div class="error message">
                                    <%= errors.contrasenia.msg %>
                                  </div>
                                  <% } %>
                                  <div class="message" id="error-contrasenia"></div>
                                  <span class="icon"></span>
                                </label>
                                    <label for="contrasenia2" class="label-container">Confirmar contraseña:
                                    <input type="password" name="contrasenia2" class="formInput"/>
                                    <div class="message" id="error-contrasenia2"></div>
                                    <span class="icon"></span>
                                </label>
                                    <button type="submit" id="registerbtn">Registrarme</button>
              </form>
            </div>
          </section>
        </main>

        <%- include("partials/footer") %>
      </body>
      <script src="./js/validations-register.js"></script>
      <script src="/js/index.js"></script>
      </html>